
</main>
<footer>
  <p>&copy; pokemon by Elite 5</p>
</footer>
</body>
<script src="/js/hamburger.js"></script>
<script src="/js/dropdown.js"></script>
<script src="/js/percentage.js"></script>
<script src="/js/pokeApi.js"></script>
<script src="/js/modalCatch.js"></script>
</html>