<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/landingPage.css" />
  </head>
  <body>
    <nav>
      <a href="/"><h1>Elite 5</h1></a>
    </nav>
  </header>
    <main>
      <section class="projects">
        <article class="project-item">
          <a href="/projectsError">
            <img
              src="./images/fifa.jpg"
              width="704px"
              height="397px"
              alt="image 2 people playing fifa"
              title="Fifa"
            />
            <h2>Fifa</h2>
          </a>
        </article>
        <article class="project-item">
          <a href="/projectsError">
            <img
              src="./images/mtg.jpg"
              width="704px"
              height="397px"
              alt="image of magic card"
              title="MTG"
            />
            <h2>MTG</h2>
          </a>
        </article>
        <article class="project-item">
          <a href="/login">
            <img
              src="./images/loginWallpaper.jpg"
              width="704px"
              height="397px"
              alt="image of pikachu"
              title="Pokemon"
            />
            <h2>Pokemon</h2>
          </a>
        </article>
        <article class="project-item">
          <a href="/projectsError">
            <img
              src="./images/nbb.jpg"
              width="704px"
              height="397px"
              alt="image of saving money"
              title="NBB"
            />
            <h2>NBB</h2>
          </a>
        </article>
        <article class="project-item">
          <a href="/projectsError">
            <img
              src="./images/lotg.jpg"
              width="704px"
              height="397px"
              alt="image of house from lord of the ring"
              title="LOTR"
            />
            <h2>LOTR</h2>
          </a>
        </article>
        <article class="project-item">
          <a href="/projectsError">
            <img
              src="./images/fortnite.jpg"
              width="704px"
              height="397px"
              alt="image of game fortnite"
              title="Fortnite"
            />
            <h2>Fortnite</h2>
          </a>
        </article>
        <article class="project-item">
          <a href="/projectsError">
            <img
              src="./images/lego.jpg"
              width="704px"
              height="397px"
              alt="image of legos"
              title="LegoMaster"
            />
            <h2>LegoMaster</h2>
          </a>
        </article>
      </section>
    </main>
    <footer>
      <p>&copy; pokemon by Elite 5</p>
    </footer>
  </body>
</html>
