<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <main class="login_main login_body">
      <section class="login_left login_img"></section>
      <section class="login_right">
        <a href="/"
          ><img src="./images/pokeball.png" class="login_logo" alt="" srcset=""
        /></a>
        <h2>Sign In</h2>
        <form action="/login" method="post" class="login_form">
          <fieldset>
            <label for="username">Email</label><br />
            <input
              type="email"
              name="email"
              id="email"
              placeholder="email"
              required
            /><br /><br />
            <label for="password">Password</label><br />
            <input
              type="password"
              name="password"
              id="password"
              placeholder="password"
              required
            /><br /><br />
          </fieldset>
          <input type="submit" value="Login" class="login_signIn" />
          <a href="/signUp" class="login_signUp">Sign Up</a>
        </form>
      </section>
    </main>
    <aside class="login_aside"></aside>
  </body>
</html>
