<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/landingPage.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li class="nav-item"><a href="/">Elite 5</a></li>
        </ul>
      </nav>
    </header>
    <main class="errorpage">
      <section class="projects">
        <h3>Sorry You can't participate in this project.</h3>
      </section>

      <section class="projects">
        <a href="/" class="goback">Go back</a>
      </section>
    </main>
    <footer>
      <p>&copy; pokemon by Elite 5</p>
    </footer>
  </body>
  <script src="/js/dropdown.js"></script>
  <script src="/js/hamburger.js"></script>
</html>
