<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/vergelijkenStyle.css">
    <title>Pokemon Comparison</title>

    <%- include ("partials/header.ejs") %>
    
    <main>
        <div class="flex-container">
            <div id="pokemon-container1"  class="pokemon-container">
                <div class="searchbox">
                    <input id="pokemonName1" type="text" placeholder="Pokemon name">
                    <button id="search1">🔍</button>
                </div>
                
                <div>
                    <h3 class="name"></h3>
                </div>
                <div class="img">
                    <img  width="250px" height="250px" >
                </div>
                <section><div id="stats1" class="skill_box"></div></section>
            
            </div>
            
            <figure class="fig">
                <img id="compare" class="comparebutton" src="/images/pokeball2.png" alt="Compare"> </img>
            </figure> 


            <div id="pokemon-container2" class="pokemon-container" >
                <div class="searchbox">
                    <input id="pokemonName2" type="text" placeholder="Pokemon name">
                    <button id="search2">🔍</button>
                </div>
                
                <div>
                    <h3 class="name"></h3>
                </div>
                <div class="img">
                    <img  width="250px" height="250px" >
                </div>
                <section><div id="stats2" class="skill_box"></div></section>

                
            </div>
            
        </div>
        
    <%- include ("partials/footer.ejs") %>