/* ----------------------------------- */
/* login page start*/

h2 {
  color: blue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 24px 0 24px;
}

.signUph2 {
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 24px 0 24px;
}

h3 {
  color: yellowgreen;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 24px 0 24px;
}

label {
  color: white;
}

p {
  color: white;
}

.login_main {
  height: 100vh;
}

.login_body {
  display: grid;
  grid-template-areas: "left left right";
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
}

.login_left {
  grid-area: left;
}

.login_img {
  background-image: url(https://wallpapercave.com/wp/wp3961359.jpg);
  background-repeat: no-repeat;
  animation: fadein 2s;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

.login_right {
  grid-area: right;
  margin: 64px auto;
  max-width: 480px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  grid-area: right;
  margin: 64px auto;
  max-width: 480px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

h1 {
  font-size: 24px;
  margin: 24px 0 24px;
}

.login_logo {
  width: 85px;
  height: 85px;
  padding: 5px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login_form fieldset {
  border: none;
}

.login_form label {
  font-size: 16px;
  margin-bottom: 8px;
}

.login_form input,
.login_signUp {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login_signIn,
.login_signUp {
  margin: 24px 0 1px;
  background-color: blue;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login_signIn {
  background-color: blue;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
}

.login_signUp {
  background-color: red;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
}

@media (max-width: 1200px) {
  .login_body {
    grid-template-areas: "left right right";
    grid-template-columns: 3fr 2fr 2fr;
  }

  .login_left {
    grid-area: left;
  }

  .login_right {
    grid-area: right;
  }
}

.errorMsg {
  font-size: 10px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  .login_body {
    grid-template-areas: "right right right";
    grid-template-columns: 1fr 2fr 2fr;
  }

  .login_left {
    display: none;
  }

  .login_right {
    grid-area: right;
  }
}

/* login page end*/
/* ----------------------------------- */
