.main {
  height: auto;
}

h1 {
  text-align: center;
}

.pokedex-topbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10% 0;
}

.surprise-me-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  align-self: start;
}

.sort-by {
  display: flex;
  align-items: center;
  grid-column: span 4;
  text-align: right;
  align-self: start;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
}

.grid {
  margin-top: 75px;
  margin-bottom: 100px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: auto;
  justify-content: center;

  padding: 50px 100px;
  gap: 50px;
}

.card {
  background-color: rgb(237, 236, 236);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  padding: 20px;
  text-align: center;
}

.card a {
  text-decoration: none;
  color: black;
}

.card img {
  height: 210px;
  width: 210px;
  margin-bottom: 10px;
  background-color: lightgray;
  /* transition: 0.3s opacity, transform 0.3s; */
}

/* .card img:hover {
  opacity: 0.7;
  transform: scale(0.975);
} */

.card h3 {
  margin-top: 0;
}

.card span {
  background-color: #3f51b5;
  color: lightgray;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 5px;
}

.load-more-btn {
  display: block;
  margin: 50px auto;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.update {
  margin: 24px 0 1px;
  background-color: blue;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .card img {
    height: 200px;
    width: 200px;
  }
}
