@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
<<<<<<< HEAD
  background: url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
  height: 100%;
=======
    font-family: 'Pokemon Solid', sans-serif;  
    letter-spacing: 2px;   
}
main{
    height: 100vh;
>>>>>>> 7523dd0df21e78448e6486b997fe572f970be91f
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: red;
    
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Pokemon Solid', sans-serif;      
    font-size: larger;
    letter-spacing: 2px;                                        
}
nav ul li a:hover{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
h1 {
    text-align: center;
  }
  
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    max-width: 700px;
    margin: auto;
    padding: 1.5rem;
    justify-content: center;
}
footer{
    
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: red;
    color: white;
  }

  @media only screen and (max-width: 500px) {
    .container{
        grid-template-columns: 1fr;
    }
    
  }
